.navbar {
    margin: 1em;
    box-shadow: 1px 2px 20px rgb(160, 160, 160);
    border-radius: 30px;
}

#navCategorias {
    margin: 4em;
    height: 50px;
}

#logo {
    margin-right: 25px;
}

.nav-link {
    margin: 25px;
}

.centered {
    color: white;
    font-size: 200px;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titulo {
    margin: 5em;
}

#tituloCategoria {
    align-items: center;
}

#historia {
    border-radius: 30px;
    box-shadow: 1px 1px 30px rgb(94, 94, 94);
}

#centro2 {
    margin-top: -30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#centro3 {
    margin-top: 460px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    font-weight: bolder;
    margin-top: 1050px;
}

#centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 20rem;
    margin-left: -50px;
}

#turismo {
    margin-bottom: 18px;
    margin-left: 50px;
}

h2 {
    margin-right: 28em;
}

#carrusel {
    margin-bottom: 70px;
}

#carouselExampleInterval {
    width: 700px;
    box-shadow: 1px 1px 40px rgb(129, 129, 129);
    margin-left: 50em;
    margin-top: -560px;
}

.carousel-control-prev,
.carousel-control-next {
    visibility: hidden;
}

#imgCard1 {
    margin-left: -130px;
}

#imgCard2 {
    margin-left: 50px;
}

#imgCard3 {
    margin-left: 225px;
}

#botonH {
    height: 45px;
    width: 250px;
    background-color: #BC002D;
    color: white;
    border-radius: 25px;
    box-shadow: 1px 5px 5px rgb(160, 160, 160);
}

#botonD {
    margin-top: 18px;
    position: relative;
    margin-left: 100px;
    height: 45px;
    width: 250px;
    background-color: #BC002D;
    color: white;
    border-radius: 25px;
    box-shadow: 1px 5px 5px rgb(160, 160, 160);
}

#mensajeB {
    margin-left: 20px;
    font-weight: 600;
}

#cards {
    width: 700px;
    margin: 50px;
}